<div class="cart_items">
	<h2>Products</h2>

	<f:form name="customer" object="{customer}" action="update">
		<ul>
			<f:for each="{customer.cartItems}" as="cartItem">
				<li>
					<p>
						<f:link.action pluginName="Product" controller="Product" pageUid="{settings.view.product.pid}" arguments="{product: cartItem.product, path: cartItem.product.rootline}">{cartItem.product.title}</f:link.action>
						&times; <f:form.textbox name="customer[cartItems][{cartItem.uid}][quantity]" value="{cartItem.quantity}" size="2"/>
						<f:if condition="{cartItem.product.grossPrice}"> {f:translate(key: 'product.stock_unit.I.{cartItem.product.stockUnit}')} á <em>{cartItem.price->f:format.currency(currencySign: '{settings.common.currency.sign}')}</em> = <em>{cartItem.priceSum->f:format.currency(currencySign: '{settings.common.currency.sign}')}</em></f:if>
						<f:if condition="{cartItem.product.introduction}"><br />{cartItem.product.introduction}</f:if>

						<br /><f:link.action action="move" arguments="{product: cartItem.product}">{f:translate(key: 'cart.index.move_to_watchlist', arguments: {0: cartItem.product.title})}</f:link.action>
						<br /><f:link.action action="remove" arguments="{product: cartItem.product}">{f:translate(key: 'cart.index.remove_from_cart', arguments: {0: cartItem.product.title})}</f:link.action>

						<f:form.hidden name="customer[cartItems][{cartItem.uid}][__identity]" value="{cartItem.uid}"/>
					</p>
				</li>
			</f:for>
		</ul>

		<p><f:form.submit name="submit" value="{f:translate(key: 'cart.index.update_cart')}"/></p>
	</f:form>
</div>

<p class="totalPrice"><strong>{f:translate(key: 'cart.index.total_price')}</strong> <em>{totalPrice->f:format.currency(currencySign: '{settings.common.currency.sign}')}</em></p>

<f:if condition="{settings.common.feature.checkout}">
<f:if condition="{settings.view.checkout.pid}">
	<f:link.action pluginName="Checkout" controller="Checkout" pageUid="{settings.view.checkout.pid}">{f:translate(key: 'cart.index.order_products')}</f:link.action>
</f:if>
</f:if>