{namespace h=Tx_Hype_ViewHelpers}

<f:layout name="Default" />

<f:section name="content">
	<h2>Address</h2>

	<f:for each="{customer.addresses}" as="address">
		<p>
			{address.title}<br />
			{address.name}<br />
			{address.company}<br />
			{address.street}<br />
			{address.stair}<br />
			{address.floor}<br />
			{address.door}<br />
			{address.postcode}<br />
			{address.city}<br />
			{address.country}<br />
			{address.phoneNumber}<br />
			<f:link.action action="validate" arguments="{address: address}">Send to {address.title}.</f:link.action>
		</p>
	</f:for>
</f:section>