{namespace h=Tx_Hype_ViewHelpers}
{namespace store=Tx_HypeStore_ViewHelpers}

<f:layout name="Product" />

<f:section name="content">
	<f:if condition="{product}">

		<!-- specific details -->
		<f:render partial="Product/Index/Product/{product.type->h:format.camelCase()}.html" arguments="{product: product, settings: settings}"/>

		<!-- functions -->
		<p class="actions">
			<f:if condition="{settings.common.feature.cart}">
			<f:if condition="{settings.view.cart.pid}">
				<f:link.action pluginName="Cart" controller="Cart" action="add" arguments="{items: {0: {productUid: '{product.uid}', quantity: 1}}}" pageUid="{settings.view.cart.pid}" class="cart">{f:translate(key: 'product.index.put_into_cart', arguments: {0: product.title})}</f:link.action><br />
			</f:if>
			</f:if>

			<f:if condition="{settings.common.feature.watchlist}">
			<f:if condition="{settings.view.watchlist.pid}">
				<f:link.action pluginName="Watchlist" controller="Watchlist" action="add" arguments="{product: product}" pageUid="{settings.view.watchlist.pid}" class="watchlist">{f:translate(key: 'product.index.put_onto_watchlist', arguments: {0: product.title})}</f:link.action>
			</f:if>
			</f:if>
		</p>

		<!-- product.relatedProducts -->
		<f:if condition="{f:count(subject: product.relatedProducts)} > 0">
			<section class="related-products">
				<h3>{f:translate(key: 'product.index.related_products')}</h3>

				<ul>
					<f:for each="{product.relatedProducts}" as="relatedProduct">
						<li>
							<h4>
								<f:link.action arguments="{product: relatedProduct, path: relatedProduct.rootline}">{relatedProduct.title}</f:link.action>
							</h4>

							<f:if condition="{h:file.exists(path: '{settings.object.product.property.images.path}{relatedProduct.images.0}')}">
								<f:link.action arguments="{product: relatedProduct, path: relatedProduct.rootline}" class="image">
									<f:image src="{settings.object.product.property.images.path}{relatedProduct.images.0}" maxHeight="60" alt="" />
								</f:link.action>
							</f:if>
						</li>
					</f:for>
				</ul>
			</section>
		</f:if>
	</f:if>
</f:section>