{namespace h=Tx_Hype_ViewHelpers}

<f:layout name="Watchlist" />

<f:section name="content">
	<!-- customer.watchlistItems -->
	<f:if condition="{watchlistItems}">
		<f:then>
			<div class="watchlist_items">
				<h2>Watchlist items</h2>

				<ul>
					<f:for each="{watchlistItems}" as="watchlistItem">
						<li>
							<p>
								<f:link.action pluginName="Product" controller="Product" pageUid="{settings.view.product.pid}" arguments="{product: watchlistItem.product, path: watchlistItem.product.rootline}">{watchlistItem.product.title}</f:link.action>
								<f:if condition="{watchlistItem.product.introduction}"><br />{watchlistItem.product.introduction}</f:if>

								<br /><f:link.action action="move" arguments="{product: watchlistItem.product}">{f:translate(key: 'watchlist.index.move_to_cart', arguments: {0: watchlistItem.product.title})}</f:link.action>
								<br /><f:link.action action="remove" arguments="{product: watchlistItem.product}">{f:translate(key: 'watchlist.index.remove_from_watchlist', arguments: {0: watchlistItem.product.title})}</f:link.action>

								<f:form.hidden name="watchlistItems[{watchlistItem.uid}][__identity]" value="{watchlistItem.uid}"/>
							</p>
						</li>
					</f:for>
				</ul>
			</div>
		</f:then>

		<f:else>
			<p>{f:translate(key: 'watchlist.index.empty')}</p>
		</f:else>
	</f:if>
</f:section>