{namespace h=Tx_Hype_ViewHelpers}
{namespace store=Tx_HypeStore_ViewHelpers}

<f:layout name="Cart" />

<f:section name="content">
	<!-- customer.cartItems -->
	<f:if condition="{f:count(subject: customer.cartItems)} > 0">
		<f:then>
			<f:render partial="Cart/{settings.view.cart.mode->h:format.string(options: {0: 'ucfirst'})}.html" arguments="{customer: customer, totalPrice: totalPrice, settings: settings}"/>
		</f:then>

		<f:else>
			<p>{f:translate(key: 'cart.index.empty')}</p>
		</f:else>
	</f:if>
</f:section>