{namespace h=Tx_Hype_ViewHelpers}
{namespace store=Tx_HypeStore_ViewHelpers}

<f:layout name="Category" />

<f:section name="content">

	<!-- filters -->
	<f:render partial="Category/List/Filters.html" arguments="{category: category, path: path, attributes: attributes, filter: filter, settings: settings}"/>

	<f:if condition="{category}">
		<f:then>
			<!-- category.title -->
			<h1>{category.title}</h1>

			<!-- category.images -->
			<f:if condition="{category.images}">
				<p class="images">
					<f:for each="{category.images}" as="image">
						<f:if condition="{h:file.exists(path: '{settings.object.category.property.images.path}{image}')}">
							<f:image src="{settings.object.category.property.images.path}{image}" maxWidth="{settings.view.category.action.list.property.images.maxWidth}" maxHeight="{settings.view.category.action.list.property.images.maxHeight}" alt="{category.title}" />
						</f:if>
					</f:for>
				</p>
			</f:if>

			<!-- category.introduction -->
			<f:if condition="{category.introduction}">
				<p><f:format.nl2br>{category.introduction}</f:format.nl2br></p>
			</f:if>

			<!-- category.products -->
			<f:render partial="Category/List/Products.html" arguments="{category: category, path: path, filter: filter, settings: settings}"/>

			<!-- category.categories -->
			<f:render partial="Category/List/Categories.html" arguments="{category: category, path: path, filter: filter, settings: settings}"/>
		</f:then>

		<f:else>
			<p>{f:translate(key: 'category.list.no_category_available')}</p>
		</f:else>
	</f:if>
</f:section>