{namespace h=Tx_Hype_ViewHelpers}

<f:layout name="default" />

<f:section name="content">
	<f:if condition="{category}">
		<f:then>
			<!-- category.title -->
			<h1>{category.title}</h1>
			
			<!-- category.images -->
			<f:if condition="{category.images}">
				<p class="images">
					<f:for each="{category.images}" as="image">
						<f:if condition="{h:file.exists(path: '{settings.object.category.field.images.path}{image}')}">
							<f:image src="{settings.object.category.field.images.path}{image}" maxWidth="{settings.view.category.action.list.field.images.maxWidth}" maxHeight="{settings.view.category.action.list.field.images.maxHeight}" alt="{category.title}" />
						</f:if>
					</f:for>
				</p>
			</f:if>
			
			<!-- category.introduction -->
			<f:if condition="{category.introduction}">
				<p><f:format.nl2br>{category.introduction}</f:format.nl2br></p>
			</f:if>
			
			<!-- category.products -->
			<f:if condition="{category.products}">
				<div class="products">
					<h2>Produkte</h2>
					
					<ul>
						<f:for each="{category.products}" as="product">
							<li>
								<!-- product.title -->
								<h3><f:link.action pluginName="Product" controller="Product" pageUid="{settings.view.product.pid}" arguments="{product: product, path: '{path}'}">{product.title}</f:link.action></h3>
								
								<!-- product.introduction -->
								<f:if condition="{product.introduction}">
									<p class="introduction">{product.introduction->f:format.nl2br()}</p>
								</f:if>
								
								<!-- product.images -->
								<f:if condition="{product.images}">
									<f:for each="{product.images}" as="image">
										<f:if condition="{h:file.exists(path: '{settings.object.product.field.images.path}{image}')}">
											<f:link.action pluginName="Product" controller="Product" pageUid="{settings.view.product.pid}" arguments="{product: product, path: '{path}'}">
												<f:image src="{settings.object.product.field.images.path}{image}" maxWidth="{settings.view.category.action.list.object.product.field.images.maxWidth}" maxHeight="{settings.view.category.action.list.object.product.field.images.maxHeight}" alt="{product.title}" />
											</f:link.action>
										</f:if>
									</f:for>
								</f:if>
							</li>
						</f:for>
					</ul>
				</div>
			</f:if>
			
			<!-- category.categories -->
			<f:if condition="{category.categories}">
				<h2>Unterkategorien</h2>
				
				<ul>
					<f:for each="{category.categories}" as="subcategory">
						<li>
							<!-- subcategory.title -->
							<h3><f:link.action action="list" arguments="{category: subcategory, path: '{path},{subcategory.uid}'}">{subcategory.title}</f:link.action></h3>
							
							<!-- subcategory.introduction -->
							<f:if condition="{subcategory.introduction}">
								<p>{subcategory.introduction->f:format.nl2br()}</p>
							</f:if>
							
							<!-- subcategory.products -->
							<f:if condition="{subcategory.products}">
								<div class="products">
									<h4>Produkte</h4>
									
									<ul>
										<f:for each="{subcategory.products}" as="product">
											<li>
												<!-- product.title -->
												<h5><f:link.action pluginName="Product" controller="Product" pageUid="{settings.view.product.pid}" arguments="{product: product, path: '{path},{subcategory.uid}'}">{product.title}</f:link.action></h5>
												
												<!-- product.images -->
												<f:if condition="{product.images}">
													<f:for each="{product.images}" as="image">
														<f:if condition="{h:file.exists(path: '{settings.object.product.field.images.path}{image}')}">
															<f:link.action pluginName="Product" controller="Product" pageUid="{settings.view.product.pid}" arguments="{product: product, path: '{path},{subcategory.uid}'}">
																<f:image src="{settings.object.product.field.images.path}{image}" maxWidth="{settings.view.category.action.list.object.product.field.images.maxWidth}" maxHeight="{settings.view.category.action.list.object.product.field.images.maxHeight}" alt="{product.title}" />
															</f:link.action>
														</f:if>
													</f:for>
												</f:if>
												
												<!-- product.introduction -->
												<f:if condition="{product.introduction}">
													<p class="introduction">{product.introduction->f:format.nl2br()}</p>
												</f:if>
											</li>
										</f:for>
									</ul>
								</div>
							</f:if>
							
						</li>
					</f:for>
				</ul>
			</f:if>
		</f:then>
		
		<f:else>
			<p>Keine Kategorie verfügbar.</p>
		</f:else>
	</f:if>
</f:section>